[Desktop Entry]
Version=1.0
Type=Application
Exec=winedi %f
Name=Windows desktop intergration
Icon=system-software-install-symbolic
Terminal=false
Categories=Utility;
MimeType=application/x-exe;application/vnd.microsoft.portable-executable
NoDisplay=true
StartupNotify=false
X-AppImage-Integrate=false
